<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8f99">  <td>19/12/02 16:44:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.AutoSearchRunner@1d7acb34]">feature</td> 
  <td>main@135184888</td>   <td></td> </tr>
<tr bgcolor="6e8f99">  <td>19/12/02 16:44:58</td>   <td>-763</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runner.AutoSearchRunner@1d7acb34]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@135184888</td>   <td></td> </tr>
<tr bgcolor="9c6f6d">  <td>19/12/02 16:44:59</td>   <td>-163</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AutoSearchRunner.setup()[pri:0, instance:runner.AutoSearchRunner@1d7acb34]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@135184888</td>   <td></td> </tr>
<tr bgcolor="6e8f99">  <td>19/12/02 16:44:59</td>   <td>375</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runner.AutoSearchRunner@1d7acb34]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@135184888</td>   <td></td> </tr>
</table>
